.lancamentos {

  text-align: center;
  padding: 5rem 0;
  
}

.tituloLancamentos {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}


.conteudoLancamentos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 3rem;
}

.miniaturas {
  width: 150px;   
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardLancamento {
 
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
}

.avaliacao {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.tituloProduto {
  font-size: 2rem;
  font-weight: bold;
}

.subtitulo {
  margin-top: 1rem;
  font-weight: 600;
}


.cores {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;

  .cor {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform .2s ease;
    display: inline-block;
  }

  .cor1 { background: #b2b0df; }
  .cor2 { background: #d82820; }
  .cor3 { background: #4b1416; }
  .cor4 { background: #d78a6c; }
}

.descricaoTitulo {
  margin-top: 1em;
  font-weight: bold;
}

.descricaoTexto {
  margin-top: 2rem;
  line-height: 1.4rem;
}