.sectionLooks {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  
}


.h2Looks {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0; 
  text-align: center;
}

.sectionBanners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;         
  flex-wrap: wrap;    
 
}


.BannerDiv {
    
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
}
